.btn{
    background-color: black;
    color: white;
    margin: 30px;
}
#box{
    width: 200px;
    height: 200px;
    background-color: rgb(112, 101, 101);
    box-shadow: 10px 5px 10px 5px;
    border: 2px solid rgb(131, 97, 33);
    color: white;
}

.btnNew{
    background-color: black;
    color: white;
    margin: 30px;

}